version: "3.5"
services:
    sensors:
        container_name: sensors
        image: kuiper/sensors
        environment:
            DHT22_MQTT_URL: http://172.28.1.3:1883/sensor/dht22
            BMP280_MQTT_URL: http://172.28.1.3:1883/sensor/bmp280
            VOLTAGE_MQTT_URL: http://172.28.1.3:1883/sensor/voltage
            TIME_MQTT_URL: http://172.28.1.3:1883/time/utc
            STATS_MQTT_URL: http://172.28.1.3:1883/sensor/stats
            HDC1080_MQTT_URL: http://172.28.1.3:1883/sensor/hdc1080
            MC38_MQTT_URL: http://172.28.1.3:1883/sensor/mc38
            HCSR501_MQTT_URL: http://172.28.1.3:1883/sensor/hcsr501
            BH1750_MQTT_URL: http://172.28.1.3:1883/sensor/bh1750
            INFLUX_URL: http://dbuser:password@172.28.1.4:8086/sensors
            PORT: "8082"
        build:
            context: .
            dockerfile: ./build/dockerfiles/sensors/Dockerfile
        depends_on:
            - mosquitto
            - influxdb
        networks:
            kuiper_net:
                ipv4_address: 172.28.1.2

    mosquitto:
        container_name: mosquitto
        image: eclipse-mosquitto:1.6.5
        #hostname: mosquitto
        expose:
            - "1883"
            - "9001"
        ports:
            - "1883:1883"
            - "9001:9001"
        # depends_on:
        #     - smtp
        volumes:
            - ./build/dockerfiles/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
        networks:
            kuiper_net:
                ipv4_address: 172.28.1.3

    influxdb:
        container_name: influxdb
        image: influxdb:1.8.2
        environment:
            INFLUXDB_DB: sensors
            INFLUXDB_ADMIN_USER: dbuser
            INFLUXDB_ADMIN_PASSWORD: password
            #INFLUXDB_HTTP_AUTH_ENABLED: "true"
        ports:
            - "8083:8083"
            - "8086:8086"
            - "8090:8090"
        volumes:
            - /tmp/influxdb:/var/lib/influxdb
        networks:
            kuiper_net:
                ipv4_address: 172.28.1.4

    grafana:
        container_name: grafana
        image: grafana/grafana:7.1.5
        # environment:
            # GF_SMTP_ENABLED: "true"
            # GF_SMTP_HOST: "172.28.1.7:25"
            # GF_SMTP_USER: "myuser" 
            # GF_SMTP_PASSWORD: "mysecret" 
        volumes:
            - /tmp/grafana/dashboards:/var/lib/grafana/dashboards
        ports:
            - "3000:3000"
        depends_on:
            - influxdb
            # - smtp
        networks:
            kuiper_net:
                ipv4_address: 172.28.1.5

    # smtp:
    #     container_name: smtp
    #     image: bytemark/smtp:latest
    #     ports:
    #         - "25:25"
    #     networks:
    #         kuiper_net:
    #             ipv4_address: 172.28.1.7

    devices_mysql:
        container_name: devices_mysql
        image: kuiper/devices_mysql
        build:
            context: ./build/dockerfiles/db/devices/.
            dockerfile: ./Dockerfile
        ports:
            - "3306:3306"
        networks:
            kuiper_net:
                ipv4_address: 172.28.1.8

    devices:
        container_name: devices
        image: kuiper/devices
        environment:
            PORT: "8081"
            DB_CONN: "root:password@tcp(172.28.1.8:3306)/devices?charset=utf8&parseTime=True&loc=Local"
            BAT_CAVE_SETTINGS_MQTT_URL: "http://172.28.1.3:1883/bc/settings"
        build:
            context: .
            dockerfile: ./build/dockerfiles/devices/Dockerfile
        depends_on:
            - mosquitto
            - devices_mysql
        command: "dockerize -wait tcp://172.28.1.8:3306 -timeout 300s /go/bin/main"
        ports:
            - "8081:8081"
        networks:
            kuiper_net:
                ipv4_address: 172.28.1.9

    apigateway:
        container_name: apigateway
        image: kuiper/apigateway
        environment:
            PORT: "9090"
            DEVICES_HOST: "172.28.1.9:8081"
            USERS_HOST: "172.28.1.11:8084"
            ENV: "dev"
        build:
            context: .
            dockerfile: ./build/dockerfiles/apigateway/Dockerfile
        depends_on:
            - devices
            - users
        ports:
            - "9090:9090"
        networks:
            kuiper_net:
                ipv4_address: 172.28.1.10

    users:
        container_name: users 
        image: kuiper/users
        environment:
            PORT: "8084"
            DB_CONN: "root:password@tcp(172.28.1.12:3306)/users?charset=utf8&parseTime=True&loc=Local"
        build:
            context: .
            dockerfile: ./build/dockerfiles/users/Dockerfile
        depends_on:
            - users_mysql
        command: "dockerize -wait tcp://172.28.1.12:3306 -timeout 300s /go/bin/main"
        ports:
            - "8084:8084"
        networks:
            kuiper_net:
                ipv4_address: 172.28.1.11

    users_mysql:
        container_name: users_mysql
        image: kuiper/users_mysql
        build:
            context: ./build/dockerfiles/db/users/.
            dockerfile: ./Dockerfile
        ports:
            - "3307:3306"
        networks:
            kuiper_net:
                ipv4_address: 172.28.1.12

    interactions:
        container_name: interactions
        image: kuiper/interactions
        environment:
            PORT: "8085"
            DB_CONN: "root:password@tcp(172.28.1.15:3306)/interactions?charset=utf8&parseTime=True&loc=Local"
        build:
            context: .
            dockerfile: ./build/dockerfiles/interactions/Dockerfile
        depends_on:
            - interactions_mysql
        command: "dockerize -wait tcp://172.28.1.15:3306 -timeout 300s /go/bin/main"
        ports:
            - "8085:8085"
        networks:
            kuiper_net:
                ipv4_address: 172.28.1.14

    interactions_mysql:
        container_name: interactions_mysql
        image: kuiper/interactions_mysql
        build:
            context: ./build/dockerfiles/db/interactions/.
            dockerfile: ./Dockerfile
        ports:
            - "3308:3306"
        networks:
            kuiper_net:
                ipv4_address: 172.28.1.15

networks:
    kuiper_net:
        ipam:
            driver: default
            config:
                - subnet: 172.28.1.0/24
