openapi: 3.0.0
info:
  description: Documentation of the Kuiper API.
  title: Kuiper API
  version: 0.6.0

tags:
  - name: Auth
    description: API used to allow a user to authenicate against Kuiper.
  - name: Users
    description: API used for users.
  - name: Devices
    description: API to interact with devices.

servers:
  - url: http://localhost:9090/
    description: Local server

paths:
  /api/v1/auth/logout:
    post:
      security:
        - BearerToken: []
      description: Allows a user to logout.
      operationId: logout
      responses:
        "200":
          $ref: "#/components/responses/LogoutResponse"
      summary: Logout
      tags:
        - Auth
  /api/v1/auth/refresh_token:
    get:
      security:
        - BearerToken: []
      description: Refresh a token for a user.
      operationId: refreshToken
      responses:
        "200":
          description: " Token successfully refreshed."
        "401":
          description: " Unauthorized."
      summary: Refresh token
      tags:
        - Auth
  /api/v1/devices/bc:
    post:
      description: Allows a Bat Cave device setting to be created.
      operationId: createBatCaveDeviceSetting
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBatCaveDeviceSettingRequest"
      responses:
        "200":
          $ref: "#/components/responses/CreateBatCaveDeviceSettingResponse"
        "400":
          description: " Unable to bind request."
        "405":
          description: " Validation error."
        "500":
          description: " Error with the service."
      summary: Create Bat Cave Device Setting
      tags:
        - Devices
  /api/v1/devices/bc/:device_id:
    get:
      description: Get a Bat Cave device setting.
      operationId: getBatCaveDeviceSetting
      parameters:
        - description: The deviceID of the device
          in: query
          name: deviceID
          x-go-name: DeviceID
          scheme:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/GetBatCaveDeviceSettingResponse"
        "204":
          description: " No content."
        "405":
          description: " Validation error."
        "500":
          description: " Error with the service."
      summary: Get Bat Cave Device Setting
      tags:
        - Devices
    put:
      description: Update a Bat Cave device setting.
      operationId: updateBatCaveDeviceSetting
      parameters:
        - description: The deviceID of the device
          in: query
          name: deviceID
          x-go-name: DeviceID
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBatCaveDeviceSettingRequest"
      responses:
        "200":
          $ref: "#/components/responses/UpdateBatCaveDeviceSettingResponse"
        "204":
          description: " No content."
        "400":
          description: " Unable to bind request."
        "405":
          description: " Validation error."
        "500":
          description: " Error with the service."
      summary: Update Bat Cave Device Setting
      tags:
        - Devices
  /api/v1/login:
    post:
      description: Allows a user to login.
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          $ref: "#/components/responses/LoginResponse"
        "401":
          description: " Unauthorized."
      summary: Login
      tags:
        - Auth
  /api/v1/users/:username:
    delete:
      description: Allows a user to be soft deleted.
      operationId: deleteUser
      parameters:
        - description: The username of the user
          in: query
          name: username
          x-go-name: Username
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/DeleteUserResponse"
        "204":
          description: " No content."
        "400":
          description: " Unable to bind request."
        "405":
          description: " Validation error."
        "500":
          description: " Error with the service."
      summary: Delete User
      tags:
        - Users
    get:
      description: Get information about a user.
      operationId: getUser
      parameters:
        - description: The username of the user
          in: query
          name: username
          x-go-name: Username
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/GetUserResponse"
        "204":
          description: " No content."
        "400":
          description: " Unable to bind request."
        "405":
          description: " Validation error."
        "500":
          description: " Error with the service."
      summary: Get User
      tags:
        - Users
    put:
      description: Updates a user.
      operationId: updateUser
      parameters:
        - description: The username of the user
          in: query
          name: username
          x-go-name: Username
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/UpdateUserResponse"
        "204":
          description: " No content."
        "400":
          description: " Unable to bind request."
        "405":
          description: " Validation error."
        "500":
          description: " Error with the service."
      summary: Update User
      tags:
        - Users
  /api/v1/users/create:
    post:
      description: Allows a user to be created.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/CreateUserResponse"
        "400":
          description: " Unable to bind request."
        "405":
          description: " Validation error."
        "500":
          description: " Error with the service."
      summary: Create User
      tags:
        - Users

components:
  securitySchemes:
    BearerToken:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT    # optional, arbitrary value for documentation purposes
  responses:
    CreateBatCaveDeviceSettingResponse:
      description: CreateBatCaveSettingResponse is a response when successfully creating a
        Bat Cave device setting.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateBatCaveDeviceSettingResponse"
    CreateUserResponse:
      description: CreateUserResponse is a response when a user has been successfully
        created.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateUserResponse"
    DeleteUserResponse:
      description: DeleteUserResponse is a response when a user has been successfully
        deleted.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteUserResponse"
    GetBatCaveDeviceSettingResponse:
      description: GetBatCaveDeviceSettingResponse is a response when successfully getting
        a Bat Cave device setting.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetBatCaveDeviceSettingResponse"
    GetUserResponse:
      description: GetUserResponse is a response when getting a user successfully.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetUserResponse"
    LoginResponse:
      description: LoginRespose is the response that is returned when a user has
        successfully login.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LoginResponse"
    LogoutResponse:
      description: LogoutRespose is the response that is returned when a user has
        successfully logout.
    UpdateBatCaveDeviceSettingResponse:
      description: UpdateBatCaveDviceSettingResonse is the response when successfully
        updated a Bat Cave device setting.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateBatCaveDeviceSettingResponse"
    UpdateUserResponse:
      description: UpdateUserResponse is a response that ire returned when a user was
        successfully updated.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateUserResponse"
  schemas:
    CreateBatCaveDeviceSettingRequest:
      description: The request used to create a Bat Cave device setting
      properties:
        deepSleepDelay:
          description: The deep sleep delay of the device
          format: uint32
          type: integer
          x-go-name: DeepSleepDelay
        deviceID:
          description: The deviceID of the device
          type: string
          x-go-name: DeviceID
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/devices/request
    CreateBatCaveDeviceSettingResponse:
      properties:
        deepSleepDelay:
          description: The deep sleep delay of the device.
          format: uint32
          type: integer
          x-go-name: DeepSleepDelay
        deviceID:
          description: The device ID of the device.
          type: string
          x-go-name: DeviceID
      title: CreateBatCaveSettingResponse is a response when successfully creating a
        Bat Cave device setting.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/devices/response
    CreateUserRequest:
      description: CreateUserRequest is the request that is used for creating a user
      properties:
        email:
          description: The email of the user
          type: string
          x-go-name: Email
        name:
          description: The name of the uesr
          type: string
          x-go-name: Name
        password:
          description: The password for the user
          type: string
          x-go-name: Password
        username:
          description: The username for the user
          type: string
          x-go-name: Username
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/request
    CreateUserResponse:
      properties:
        email:
          description: The email of the user created.
          type: string
          x-go-name: Email
        id:
          description: The ID of the user that was created.
          type: string
          x-go-name: ID
        name:
          description: The name of the user created.
          type: string
          x-go-name: Name
        username:
          description: The username of the user created.
          type: string
          x-go-name: Username
      title: CreateUserResponse is a response when a user has been successfully
        created.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/response
    DeleteUserResponse:
      properties:
        username:
          description: The username of the user that was deleted.
          type: string
          x-go-name: Username
      title: DeleteUserResponse is a response when a user has been successfully
        deleted.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/response
    GetBatCaveDeviceSettingResponse:
      properties:
        deepSleepDelay:
          description: The deep sleep delay of the device.
          format: uint32
          type: integer
          x-go-name: DeepSleepDelay
        deviceID:
          description: The device ID of the device.
          type: string
          x-go-name: DeviceID
      title: GetBatCaveDeviceSettingResponse is a response when successfully getting
        a Bat Cave device setting.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/devices/response
    GetUserResponse:
      properties:
        email:
          description: The email of the user.
          type: string
          x-go-name: Email
        id:
          description: The ID of the user.
          type: string
          x-go-name: ID
        name:
          description: The name of the user.
          type: string
          x-go-name: Name
        username:
          description: The username of the user.
          type: string
          x-go-name: Username
      title: GetUserResponse is a response when getting a user successfully.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/response
    LoginRequest:
      properties:
        password:
          description: The password for the user
          type: string
          x-go-name: Password
        username:
          description: The username for the user
          type: string
          x-go-name: Username
      title: LoginRequest is the request for login.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/auth/request
    LoginResponse:
      properties:
        email:
          description: The email of the user
          type: string
          x-go-name: Email
        expired:
          description: The expire time for the given JWT token
          format: date-time
          type: string
          x-go-name: Expires
        id:
          description: The ID of the login user
          type: string
          x-go-name: ID
        name:
          description: The name of the user
          type: string
          x-go-name: Name
        token:
          description: The 'JWT' token for the user
          type: string
          x-go-name: Token
        username:
          description: The users username
          type: string
          x-go-name: Username
      title: LoginRespose is the response that is returned when a user has
        successfully login.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/auth/response
    UpdateBatCaveDeviceSettingRequest:
      description: The request used to update a Bat Cave device setting
      properties:
        deepSleepDelay:
          description: The deep sleep delay of the device
          format: uint32
          type: integer
          x-go-name: DeepSleepDelay
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/devices/request
    UpdateBatCaveDeviceSettingResponse:
      properties:
        deepSleepDelay:
          description: The deep sleep delay of the device.
          format: uint32
          type: integer
          x-go-name: DeepSleepDelay
        deviceID:
          description: The device ID of the device.
          type: string
          x-go-name: DeviceID
      title: UpdateBatCaveDviceSettingResonse is the response when successfully
        updated a Bat Cave device setting.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/devices/response
    UpdateUserRequest:
      description: The request used to update a user
      properties:
        email:
          description: The email of the user to update
          type: string
          x-go-name: Email
        id:
          description: The ID of the user being updated
          type: string
          x-go-name: ID
        name:
          description: The name of the user to update
          type: string
          x-go-name: Name
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/request
    UpdateUserResponse:
      properties:
        email:
          description: The email of the user that is being updated.
          type: string
          x-go-name: Email
        id:
          description: The ID of the user that is being updated.
          type: string
          x-go-name: ID
        name:
          description: The name of the user that is being updated.
          type: string
          x-go-name: Name
        username:
          description: The username of the user that is being updated.
          type: string
          x-go-name: Username
      title: UpdateUserResponse is a response that ire returned when a user was
        successfully updated.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/response

