openapi: 3.0.0
info:
  description: Documentation of the Kuiper API
  title: Kuiper API
  version: 0.6.3-3-g5a24825

tags:
  - name: Auth
    description: API used to allow a user to authenicate against Kuiper
  - name: Users
    description: API used for users
  - name: Devices
    description: API to used to for devices
  - name: Interactions 
    description: API to allow devices to interact with each other

servers:
  - url: http://localhost:9090/
    description: Local server

paths:
  /api/v1/auth/logout:
    post:
      security:
        - BearerToken: []
      description: Allows a user to logout
      operationId: logout
      responses:
        "200":
          $ref: "#/components/responses/LogoutResponse"
      summary: Logout
      tags:
        - Auth
  /api/v1/auth/refresh_token:
    get:
      security:
        - BearerToken: []
      description: Refresh a token for a user
      operationId: refreshToken
      responses:
        "200":
          description: " Token successfully refreshed"
        "401":
          description: " Unauthorized"
      summary: Refresh token
      tags:
        - Auth
  /api/v1/devices/settings/humidity:
    post:
      description: Allows a Humidity device setting to be created
      operationId: createHumidityDeviceSetting
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateHumidityDeviceSettingRequest"
      responses:
        "200":
          $ref: "#/components/responses/CreateHumidityDeviceSettingResponse"
        "400":
          description: " Malformed data in the request body"
        "405":
          description: " Validation error"
        "500":
          $ref: "#/components/responses/ErrorResponse"
      summary: Create Humidity device setting
      tags:
        - Devices
  /api/v1/devices/settings/humidity/:id:
    get:
      description: Get a Humidity device setting
      operationId: getHumidityDeviceSetting
      parameters:
        - description: The id of the device
          in: query
          name: id
          x-go-name: ID  
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/GetHumidityDeviceSettingResponse"
        "204":
          description: " No content"
        "405":
          description: " Validation error"
        "500":
          $ref: "#/components/responses/ErrorResponse"
      summary: Get Humidity device Setting
      tags:
        - Devices
    put:
      description: Update a Humidity device setting.
      operationId: updateHumidityDeviceSetting
      parameters:
        - description: The id of the device
          in: query
          name: id
          x-go-name: ID 
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateHumidityDeviceSettingRequest"
      responses:
        "200":
          $ref: "#/components/responses/UpdateHumidityDeviceSettingResponse"
        "204":
          description: " No content"
        "400":
          description: " Malformed data the in request body"
        "405":
          description: " Validation error"
        "500":
          $ref: "#/components/responses/ErrorResponse"
      summary: Update Humidity device setting
      tags:
        - Devices
  /api/v1/login:
    post:
      description: Allows a user to login.
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          $ref: "#/components/responses/LoginResponse"
        "401":
          description: " Unauthorized"
      summary: Login
      tags:
        - Auth
  /api/v1/users/:id:
    delete:
      description: Allows a user to be soft deleted.
      operationId: deleteUser
      parameters:
        - description: The id of the user
          in: query
          name: id
          x-go-name: ID 
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/DeleteUserResponse"
        "204":
          description: " No content"
        "400":
          description: " Malformed data in the request body"
        "405":
          description: " Validation error"
        "500":
          $ref: "#/components/responses/ErrorResponse"
      summary: Delete User
      tags:
        - Users
    get:
      description: Get information about a user.
      operationId: getUser
      parameters:
        - description: The id of the user
          in: query
          name: id 
          x-go-name: ID 
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/GetUserResponse"
        "204":
          description: " No content"
        "400":
          description: " Malformed data the in request body"
        "405":
          description: " Validation error"
        "500":
          $ref: "#/components/responses/ErrorResponse"
      summary: Get User
      tags:
        - Users
    put:
      description: Updates a user.
      operationId: updateUser
      parameters:
        - description: The id of the user
          in: query
          name: id 
          x-go-name: ID 
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/UpdateUserResponse"
        "204":
          description: " No content"
        "400":
          description: " Malformed data in the request body"
        "405":
          description: " Validation error"
        "500":
          $ref: "#/components/responses/ErrorResponse"
      summary: Update User
      tags:
        - Users
    patch:
      description: Patches a user.
      operationId: patchUser
      parameters:
        - description: The id of the user
          in: query
          name: id 
          x-go-name: ID 
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/PatchUserResponse"
        "204":
          description: " No content"
        "400":
          description: " Malformed data in the request body"
        "405":
          description: " Validation error"
        "500":
          $ref: "#/components/responses/ErrorResponse"
      summary: Patch User
      tags:
        - Users
  /api/v1/users/create:
    post:
      description: Allows a user to be created.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/CreateUserResponse"
        "400":
          description: " Malformed data in the request body"
        "405":
          description: " Validation error"
        "500":
          $ref: "#/components/responses/ErrorResponse"
      summary: Create User
      tags:
        - Users

components:
  securitySchemes:
    BearerToken:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT    # optional, arbitrary value for documentation purposes
  responses:
    CreateHumidityDeviceSettingResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateHumidityDeviceSettingResponse"
    CreateUserResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateUserResponse"
    DeleteUserResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteUserResponse"
    GetHumidityDeviceSettingResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetHumidityDeviceSettingResponse"
    GetUserResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetUserResponse"
    ErrorResponse:
      description: Error with the service
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    LoginResponse:
      description: Successful login
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LoginResponse"
    LogoutResponse:
      description: Successful logout
    UpdateHumidityDeviceSettingResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateHumidityDeviceSettingResponse"
    UpdateUserResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateUserResponse"
    PatchUserResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PatchUserResponse"
  schemas:
    CreateHumidityDeviceSettingRequest:
      description: The request used to create a Bat Cave device setting
      properties:
        deepSleepDelay:
          description: The deep sleep delay of the device
          format: uint32
          type: integer
          x-go-name: DeepSleepDelay
        mac:
          description: The mac of the device
          type: string
          x-go-name: Mac
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/devices/request
    CreateHumidityDeviceSettingResponse:
      properties:
        deepSleepDelay:
          description: The deep sleep delay of the device
          format: uint32
          type: integer
          x-go-name: DeepSleepDelay
        id:
          description: The id of the device
          type: string
          x-go-name: ID
        mac:
          description: The mac of the device
          type: string
          x-go-name: Mac 
      title: CreateHumiditySettingResponse is a response when successfully creating a
        Bat Cave device setting.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/devices/response
    CreateUserRequest:
      description: CreateUserRequest is the request that is used for creating a user
      properties:
        email:
          description: The email of the user
          type: string
          x-go-name: Email
        password:
          description: The password for the user
          type: string
          x-go-name: ID
        name:
          description: The name of the uesr
          type: string
          x-go-name: Name
        username:
          description: The username for the user
          type: string
          x-go-name: Username
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/request
    CreateUserResponse:
      properties:
        email:
          description: The email of the user created
          type: string
          x-go-name: Email
        id:
          description: The ID of the user that was created
          type: string
          x-go-name: ID
        name:
          description: The name of the user created
          type: string
          x-go-name: Name
        username:
          description: The username of the user created
          type: string
          x-go-name: Username
      title: CreateUserResponse is a response when a user has been successfully
        created.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/response
    DeleteUserResponse:
      properties:
        id:
          description: The id of the user that was deleted
          type: string
          x-go-name: ID
      title: DeleteUserResponse is a response when a user has been successfully
        deleted.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/response
    GetHumidityDeviceSettingResponse:
      properties:
        deepSleepDelay:
          description: The deep sleep delay of the device
          format: uint32
          type: integer
          x-go-name: DeepSleepDelay
        id:
          description: The id of the device
          type: string
          x-go-name: ID 
      title: GetHumidityDeviceSettingResponse is a response when successfully getting
        a Bat Cave device setting.
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/devices/response
    GetUserResponse:
      properties:
        email:
          description: The email of the user
          type: string
          x-go-name: Email
        id:
          description: The id of the user
          type: string
          x-go-name: ID
        name:
          description: The name of the user
          type: string
          x-go-name: Name
        username:
          description: The username of the user
          type: string
          x-go-name: Username
      title: GetUserResponse is a response when getting a user successfully
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/response
    ErrorResponse:
      properties:
        message:
          description: The error message
          type: string
          x-go-name: Message
      title: ErrorResponse is a response when there was an error
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/response
    LoginRequest:
      properties:
        password:
          description: The password for the user
          type: string
          x-go-name: Password
        username:
          description: The username for the user
          type: string
          x-go-name: Username
      title: LoginRequest is the request for login
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/auth/request
    LoginResponse:
      properties:
        email:
          description: The email of the user
          type: string
          x-go-name: Email
        expired:
          description: The expire time for the given JWT token
          format: date-time
          type: string
          x-go-name: Expires
        id:
          description: The id of the login user
          type: string
          x-go-name: ID
        name:
          description: The name of the user
          type: string
          x-go-name: Name
        token:
          description: The JWT token for the user
          type: string
          x-go-name: Token
        username:
          description: The users username
          type: string
          x-go-name: Username
      title: Successful operation
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/auth/response
    UpdateHumidityDeviceSettingRequest:
      description: The request used to update a Bat Cave device setting
      properties:
        deepSleepDelay:
          description: The deep sleep delay of the device
          format: uint32
          type: integer
          x-go-name: DeepSleepDelay
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/devices/request
    UpdateHumidityDeviceSettingResponse:
      properties:
        deepSleepDelay:
          description: The deep sleep delay of the device
          format: uint32
          type: integer
          x-go-name: DeepSleepDelay
        id:
          description: The id of the device
          type: string
          x-go-name: ID 
      title: Successful opertation
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/devices/response
    UpdateUserRequest:
      description: The request used to update a user
      properties:
        email:
          description: The email of the user to update
          type: string
          x-go-name: Email
        name:
          description: The name of the user to update
          type: string
          x-go-name: Name
        username:
          description: The username of the user being updated
          type: string
          x-go-name: username 
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/request
    PatchUserRequest:
      description: The request used to patch a user
      properties:
        email:
          description: The email of the user to update
          type: string
          x-go-name: Email
        name:
          description: The name of the user to update
          type: string
          x-go-name: Name
        username:
          description: The username of the user being updated
          type: string
          x-go-name: username 
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/request
    UpdateUserResponse:
      properties:
        email:
          description: The email of the user that is being updated
          type: string
          x-go-name: Email
        id:
          description: The id of the user that is being updated
          type: string
          x-go-name: ID
        name:
          description: The name of the user that is being updated
          type: string
          x-go-name: Name
        username:
          description: The username of the user that is being updated
          type: string
          x-go-name: Username
      title: Successful operation
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/response
    PatchUserResponse:
      properties:
        email:
          description: The email of the user that is being updated
          type: string
          x-go-name: Email
        id:
          description: The id of the user that is being updated
          type: string
          x-go-name: ID
        name:
          description: The name of the user that is being updated
          type: string
          x-go-name: Name
        username:
          description: The username of the user that is being updated
          type: string
          x-go-name: Username
      title: Successful operation
      type: object
      x-go-package: github.com/io-1/kuiper/internal/apigateway/clients/users/response

